{% extends 'base.html.twig' %}

{% block title %}
	Les Tâches
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
	{# <link rel="stylesheet" type="text/css" href="templates/Css/template.css"/> #}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
	<script type="text/javascript">

		$(document).ready(function () {
$('#tabledata').DataTable({
language: {
processing: "Traitement en cours...",
search: "Rechercher&nbsp;:",
lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
infoPostFix: "",
loadingRecords: "Chargement en cours...",
zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
emptyTable: "Aucune donnée disponible dans le tableau",
paginate: {
first: "Premier",
previous: "Pr&eacute;c&eacute;dent",
next: "Suivant",
last: "Dernier"
},
aria: {
sortAscending: ": activer pour trier la colonne par ordre croissant",
sortDescending: ": activer pour trier la colonne par ordre décroissant"
}
}
});
});
	</script>
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			/* max-width: 1000px; */
			width: 75%;
			font: 18px / 1.5 sans-serif;
		}

		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		.avatar {
			width: auto;
			height: 70px;
			border-radius: 8px;
		}

		.logoTitle {
			width: 100px;
		}
	</style>
	{% if app.user %}
	<div class="position-relative">
		<div class="position-absolute top-0 end-0 d-flex flex-wrap align-items-center mt-1 me-3">
			<h5 class="me-2">Bonjour,</h5>
			<div class="d-flex flex-column align-items-center me-2">
			{% if app.user.avatar %}
				<img class="avatar" src="../../../src/uploads/avatar/{{ app.user.avatar }}" alt="avatar de l'utilisateur">
			{% endif %}
			<h5>{{ app.user.username }}</h5>
			</div>
			<a href="{{ path('app_logout') }}"><button class="btn btn-danger">Déconnection</button></a>
		</div>
	</div>
	{% endif %}

	<div class="example-wrapper">
		<div class="d-flex flex-wrap justify-content-center">
			<h1 class="d-flex align-items-center"> Vos tâches </h1>
			<img class="logoTitle" src="../../../src/uploads/liste-taches.jpg" alt="logo de liste de tache"/>
		</div>

		<a href="{{ path('task_create' )}}">
			Ajouter une tache</a><br><br>

		<table id="tabledata" class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Nom de la tâche</th>
					<th>Description</th>
					<th>Priorité</th>
					<th>Date</th>
					<th>Catégories</th>
					<th>Edition</th>
					<th>Supression</th>

				</tr>
			</thead>
			<tbody>
				{% for task in tasks %}
					<tr>
						<th>{{ task.getIdTask() }}</th>
						<td>{{ task.getNameTask() }}</td>
						<td>{{task.getDescriptionTask()}}</td>
						<td>{{task.getPriorityTask()}}</td>
						<td>{{task.getDueDateTask()|date}}</td>
						<td>{{task.getCategory().getLibelleCategory()}}</td>
						<td>
							<a href="{{ path('task_editing', {'id': task.getIdTask()} )}}">
								<button class="btn btn-success">Editer</button>
							</a>
						</td>
						<td>
							<a href="{{ path('task_delete', {'id': task.getIdTask()} )}}">
								<button class="btn btn-danger">Supprimer</button>
							</a>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
{% endblock %}
